.dropdown {
    display: flex;
    color: red;
    align-items: center;
}

h1 {
    
    background-color: lightblue;
    align-content: flex-end;
    display: flex;
    color: magenta;

}

.header {
    text-decoration: none;
}